/*Сommon class for all strokes & shadow in two colors*/
.button-border-black {
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 0 0 black;
}

.button-border-white {
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 0 0 white;
}

.button-border-black:hover {
    transform: translate(5px, 10px);
    box-shadow: 0 0 0 0 black;
}

.button-border-white:hover {
    transform: translate(5px, 10px);
    box-shadow: 0 0 0 0 white;
}

/*banner section*/
.banner-btn {
    border: 3px solid white;
    background: #fff343;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    font-size: 1.375em;
    width: 344px;
    height: 58px;
    padding: 0;
}

.banner-btn:hover {
    border: 3px solid white;
    transition: all 0.5s ease-out;
    background-color: #fff343;
    color: black;
} 

.banner-btn:focus {
    border: 3px solid white;
    background: #fff343;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.banner-btn:active {
    border: 3px solid white;
    background: #fff343;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.banner-btn::after {
    content: "";
    background-image: url('../img/icons/btn_icon_printer.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: sub;
}

.banner-btn span {
    padding-right: 35px;
    vertical-align: super;
    margin-bottom: 225px;
    line-height: 2;
}

.banner-btn:not(:disabled):not(.disabled):active, 
.banner-btn:not(:disabled):not(.disabled).active, 
.show > .banner-btn.dropdown-toggle {
    color: black;
    background-color: #fff343;
    border-color: white;
}

.banner-btn:not(:disabled):not(.disabled).active:focus,
.banner-btn:not(:disabled):not(.disabled):active:focus,
.show>.banner-btn.dropdown-toggle:focus {
    box-shadow: none;
}

/*app section*/
.section-app_button {
    border: 3px solid white;
    background: #2cd76c;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    font-size: 1.375em;
}

.section-app_button:hover {
    border: 3px solid white;
    transition: all 0.5s ease-out;
    background-color: #2cd76c;
    color: black;
} 

.section-app_button:focus {
    border: 3px solid white;
    background: #2cd76c;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.section-app_button:active {
    border: 3px solid white;
    background: #2cd76c;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.section-app_button:not(:disabled):not(.disabled):active, 
.section-app_button:not(:disabled):not(.disabled).active, 
.show > .section-app_button.dropdown-toggle {
    color: black;
    background-color: #2cd76c;
    border-color: white;
}

.section-app_button:not(:disabled):not(.disabled).active:focus,
.section-app_button:not(:disabled):not(.disabled):active:focus,
.show>.section-app_button.dropdown-toggle:focus {
    box-shadow: none;
}

/*action button section*/
.action-section-btn .button-border-black {
    margin: 76px 0;
}

.action-print-btn {
    border: 3px solid white;
    background: #fff343;
    color: black;
    border-radius: 10px;
    font-size: 1.375em;
    width: 344px;
    height: 58px;
    padding: 0;
}

.action-print-btn span {
    padding-right: 35px;
    vertical-align: super;
    margin-bottom: 225px;
    line-height: 2;
}

.action-print-btn::after {
    content: "";
    background-image: url('../img/icons/btn_icon_printer.png');
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: sub;
}

.action-print-btn:hover {
    border: 3px solid white;
    transition: all 0.5s ease-out;
    background-color: #fff343;
    color: black;
} 

.action-print-btn:focus {
    border: 3px solid white;
    background: #fff343;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.action-print-btn:active {
    border: 3px solid white;
    background: #fff343;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.action-print-btn:not(:disabled):not(.disabled):active, 
.action-print-btn:not(:disabled):not(.disabled).active, 
.show > .action-print-btn.dropdown-toggle {
    color: black;
    background-color: #fff343;
    border-color: white;
}

.action-print-btn:not(:disabled):not(.disabled).active:focus,
.action-print-btn:not(:disabled):not(.disabled):active:focus,
.show>.action-print-btn.dropdown-toggle:focus {
    box-shadow: none;
}

/*partners section*/
.section-partners-btn {
    border: 3px solid white;
    background-color: #6ac0f3;
    color: black;
    border-radius: 10px;
    font-size: 1.375em;
    width: 344px;
    height: 58px;
    padding: 0;
}

.section-partners-btn:hover {
    border: 3px solid white;
    transition: all 0.5s ease-out;
    background-color: #6ac0f3;
    color: black;
} 

.section-partners-btn:focus {
    border: 3px solid white;
    background: #6ac0f3;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.section-partners-btn:active {
    border: 3px solid white;
    background: #6ac0f3;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.section-partners-btn:not(:disabled):not(.disabled):active, 
.section-partners-btn:not(:disabled):not(.disabled).active, 
.show > .section-partners-btn.dropdown-toggle {
    color: black;
    background-color: #6ac0f3;
    border-color: white;
}

.section-partners-btn:not(:disabled):not(.disabled).active:focus,
.section-partners-btn:not(:disabled):not(.disabled):active:focus,
.show>.section-partners-btn.dropdown-toggle:focus {
    box-shadow: none;
}

/*footer section*/
.footer-btn {
    border: 3px solid white;
    background: #2cd76c;
    color: black;
    border-radius: 10px;
    font-size: 1.375em;
    width: 344px;
    height: 58px;
    padding: 0;
}

.footer-btn:hover {
    border: 3px solid white;
    transition: all 0.5s ease-out;
    background-color: #2cd76c;
    color: black;
} 

.footer-btn:focus {
    border: 3px solid white;
    background: #2cd76c;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.footer-btn:active {
    border: 3px solid white;
    background: #2cd76c;
    transition: all 0.5s ease-out;
    color: black;
    border-radius: 10px;
    width: 344px;
    height: 58px;
    padding: 0;
    box-shadow: none;
}

.footer-btn:not(:disabled):not(.disabled):active, 
.footer-btn:not(:disabled):not(.disabled).active, 
.show > .footer-btn.dropdown-toggle {
    color: black;
    background-color: #2cd76c;
    border-color: white;
}

.footer-btn:not(:disabled):not(.disabled).active:focus,
.footer-btn:not(:disabled):not(.disabled):active:focus,
.show> .footer-btn.dropdown-toggle:focus {
    box-shadow: none;
}
