.chat-main-frame {
    width: 655px;
    height: 544px;
    background: #f8f8f8;
    margin-top: 70px;
    margin-bottom: 140px;
}

.chat-top-frame {
    width: 100%;
    height: 65px;
    background-color: #2c2c34;
    color: white;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 15px 10px 0px rgba(000,000,000,0.2);
}

.chat-top-frame img {
    width: 53px;
    margin: 0 15px;
}

.chat-frame-title {
    font-size: 20px;
}

.chat-message-in-frame {
    width: auto;
    height: 487px;
}

.chat-message-in-frame ul {
    list-style: none;
    overflow-y: scroll;
    max-height: 478px;
}

.chat-message-in-frame ul li {
    margin: 21px 0;
}

.chat-message-in-frame ul .admin-message {
    margin-left: 65px;
}

.chat-social-icon a {
    margin-left: 9px;
}

.chat-social-icon a:first-child {
    margin-left: 25px;
}

.user-message {
    background: rgba(44,215,108,0.15);
    width: 500px;
    border-top-right-radius: 15px;
    position: relative;
}

.admin-message {
    background: rgba(255,243,68,0.5);
    width: 242px;
    border-top-right-radius: 15px;
    position: relative;
}

.heart-like-fill img {
    width: 17px;
}

.heart-like img {
    width: 17px;
}

.user-message span {
    position: absolute;
    left: 526px;
}

.admin-message span {
    position: absolute;
    left: 460px;
}


#scroll-4at::-webkit-scrollbar-track
{
	background: rgba(000,000,000,0);
}

#scroll-4at::-webkit-scrollbar
{
	width: 6px;
	background-color: #f8f8f8;
}

#scroll-4at::-webkit-scrollbar-thumb
{
    background-color: #b8b8b8;
    height: 86px;
}

#scroll-4at::-webkit-scrollbar-track-piece {
    height: 86px;
}