/*This style for footer section this fixed section for all pages*/
.bg-footer-container {
    background-color: #2c2c34;
}

.footer-title {
    font-size: 24px;

}

.footer-column-font {
    font-size: 0.8em;
}


.footer-images img:nth-of-type(1) {
    margin-bottom: 7px;
}

.footer-app-img {
    width: 159px;
    border: 1px solid white;
    border-radius: 5px;
}

.copywrite-container {
    height: 37px;
}

.copywrite-container p {
    margin-bottom: 0;
    margin-top: 9px;
}

.footer-top-margin {
    margin-top: 65px;
}

.footer-bottom-margin {
    margin-bottom: 65px;
}
.footer-middle-margin {
    margin-bottom: 100px;
}

.footer-link-style a {
    text-decoration: none;
    color: white;
}

.footer-link-style a:hover {
    color: rgba(255,255,255,0.3)
}

.footer-link-style ul li {
    list-style: none;
}