/* This is style for navigation area for all pages */

.top-nav {
    background-color: #2c2c34;
    height: 85px;
  }

.logo img {
    width: 100%;
}
.nav-text {
  color: white!important;
  font-family: 'Roboto';
  font-size: 0.9em;
}

#collasible-nav-dropdown {
  color: white!important;
  font-family: 'Roboto';
  font-size: 0.8em;
}

.nav-text:hover {
  color: rgba(255,255,255,0.5)!important;
}

.active {
  color: rgba(255,255,255,0.5)!important;
}

.nav-login-btn {
  font-family: 'Roboto';
  background-color: rgba(255,255,255,0)!important;
  border-color: white;
  border-radius: 5px;
  height: 26px;
  padding: 0px 16px;
  font-size: 0.8em;
  margin: auto 35px;
}

.nav-login-btn:hover {
  border-color: #2cd76c;
}