/*--- font-classes-variable ---*/
.title-style-sm {
    font-size: 0.8em;
}

.title-style-sm p {
    text-align: center;
}

.title-faq {
    line-height: 1;
    font-size: 2.375em;
    font-weight: 900;
    
}

.p-style {
    font-size: 1em;
    font-weight: normal;
    text-transform: lowercase;
    text-align: center;
}

.font-roboto-black {
    font-family: 'Roboto';
    font-weight: 900!important;
  }

/*Corsor for button*/
.cursor-hand-chrome:hover {
    cursor: url(../img/icons/hand.png), pointer!important;
}

.cursor-hand-ffox:hover { 
    cursor: url(../img/icons/hand.png), auto!important;
}

.cursor-regular:hover {
    cursor: pointer;
}

.cursor-mouse:hover {
    cursor: url(../img/icons/mouse-arrow.png), pointer!important;
}
  

/*end--- font-classes-variable ---end*/
/*header include all top navigation style */
@import url('./header.css');
/*button animation file for all buttons*/
@import url('./button-animation.css');
/*chat nested on home page*/
@import url('./chat-frame.css');
/*footer include all footer style*/
@import url('./footer.css');

/* All styles*/
/*banner sectio*/
.banner-container-style {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/theme/b_fullHD.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    height: 500px;
}

.banner-content a {
    padding: 8px 0;
}

.banner-conten a:first-child {
    padding: 0;
}

.banner-conten a:last-child {
    padding: 0;
}

.banner-title {
    line-height: 1;
    font-size: 2.375em;
    font-weight: 900;
    max-width: 430px;
    margin-bottom: 87px;
}

/*download application section and pac-man enemies style*/
.section-app {
    background-color: #2c2c34;
}

.s-app-left-side {
    padding-right: 40px;
}

.s-app-right-side .qrcode {
    width: 95px;
    margin-bottom: 40px;
}

.s-app-right-side .download-app-img {
    width: 145px;
    margin-bottom: 50px;
    margin-right: 21px;
    border: 1px solid white;
    border-radius: 5px;
}

.s-app-right-side .button-border {
    margin-bottom: 18px;
}

.section-app_title {
    color: #fff343;
}

/*pac man eyes movment*/
.pac-man-enemy {
    position: absolute;
}

.eye-orb-l {
    width: 25px;
    height: 25px;
    position: inherit;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}

.y-l {
    width: 12px;
    height: 12px;
    transition: all 0.5s;
    background: #000;
    position: absolute ;
    top: 6px;
    left: 10px;
    border-radius: 50%;
}

.eye-orb-r {
    width: 25px;
    height: 25px;
    position: inherit;
    border-radius: 50%;
    top: 20px;
    left: 58px;
}

.y-r {
    width: 12px;
    height: 12px;
    transition: all 0.5s;
    background: #000;
    position: absolute ;
    top: 6px;
    left: 10px;
    border-radius: 50%;
}

.angry-eye {
    width: 12px;
    height: 25px;
    position: inherit;
    top: 20px;
    left: 46px;
    z-index: 1000;
}

/*printer btn section*/
.action-section-btn {
    background-color: #fff343;
}

.section-partners {
    background-color: #e8e8e8;
}

.section-partners-btn {
    border: 3px solid white;
    background-color: #6ac0f3;
    color: black;
    border-radius: 10px;
    font-size: 1.375em;
    width: 344px;
    height: 58px;
    padding: 0;
}

.slider-style div div {
    text-align: -webkit-center;
    padding: 5px 0;
}

.slider-style img {
    -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.slick-dots li.slick-active button:before {
    opacity: 0.25;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    width: 15px;
    height: 15px;
}

.slick-dots li button:before {
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '';
    text-align: center;
    opacity: .25;
    color: #000;
    border: 1px solid black;
    border-radius: 50%;
}
